<div class="bg-image"></div>
<div class="grid-container bg-text">
    <div style="display: flex;">
      <h1 class="mat-h1">Dashboard</h1>
      <span class="flex-spacer"></span>
      <!-- <mat-label class="mat-h2" style="padding-right: 20px;">Filter</mat-label> -->
    </div>
    <mat-grid-list cols="3" rowHeight="200px">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card" style="color:white;background-color:#607D8B;">
          <mat-card-header>
            <mat-card-title>
              <div></div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1 class="mat-h1"> Total Cases </h1>
            <h5 class="mt-h5" style="padding-top: 17px;font-size:60px;">{{total_cases}}</h5>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>

      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card" style="color:white;background-color:#607D8B;">
          <mat-card-header>
            <mat-card-title>
              <div></div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1 class="mat-h1"> Total Admitted Cases </h1>
            <h5 class="mt-h5" style="padding-top: 17px;font-size:60px;">{{total_admitted}}</h5>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>


      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card" style="color:white;background-color:#607D8B;">
          <mat-card-header>
            <mat-card-title>
              <div></div>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content">
            <h1 class="mat-h1"> Total Disposed Cases </h1>
            <h5 class="mt-h5" style="padding-top: 17px;font-size:60px;">{{total_disposed}}</h5>
          </mat-card-content>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
