.container {
    width: 90%;
    margin :auto;
}
.full-width {
  width: 100%;
}

td {
  padding-right: 8px;
}
.half-width{
    width:50%;
}
.border{
   padding:15px;
}

.mat-form-field {
  margin-top: 16px;
}

.bg-image {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/41/5e/07/415e07196894056736f476a802cecbd9.jpg");

  /* Add the blur effect */
  filter: blur(2px);
  -webkit-filter: blur(2px);

  /* Full height */
  height: 170%;

  /* Center and scale the image nicely */
  background-position:inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 80%;
  height: 20%;
  /* padding: 20px; */
  text-align: center;
}
