.container {
    width: 90%;
    margin :auto;
} 
.full-width {
  width: 100%;
}
  
td {
  padding-right: 8px;
}
.half-width{
    width:50%;
}
.border{
   padding:15px;
}
  
.mat-form-field {
  margin-top: 16px;
}