.w-100 {
    width: 50%;
    margin: 6px auto;

}

.vache{
  margin: 20px auto;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: medium;
    font-style: normal;
}

.bg-image {
  /* The image used */
  background-image: url("https://i.pinimg.com/originals/41/5e/07/415e07196894056736f476a802cecbd9.jpg");

  /* Add the blur effect */
  filter: blur(8px);
  -webkit-filter: blur(8px);

  /* Full height */
  height: 120%;

  /* Center and scale the image nicely */
  background-position:inherit;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  /* font-weight: bold; */
  /* border: 3px solid #f1f1f1; */
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 50%;
  height: 20%;
  /* padding: 20px; */
  /* text-align: center; */
}
